@model DemoMVC.LocalDbContext.Login_User

@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<h1>@ViewBag.ResponseMessage</h1>

@if (!User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @Html.TextBoxFor(m=>m.Username)
        @Html.PasswordFor(m=>m.Password)
        <input type="submit" value="Submit" />
    }
}

<script type="text/javascript" src="jquery.unobstrusive-ajax.js"></script>

@Html.ActionLink("Register", "Register", new AjaxOptions {  UpdateTargetId = "body-content" })


